<% layout("layouts/boilerplate") %>
<div class="row">
  <h1 class="text-center">Edit Campgrounds</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/edit/<%=campground._id%>?_method=PATCH"
      method="POST"
    >
      <div>
        <!-- to group content together under obj campground name="campground[title]" -->
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control mb-2"
          type="text"
          id="title"
          name="campground[title]"
          value="<%= campground.title %>"
        />

        <label class="form-label" for="location">Location</label>
        <input
          class="form-control mb-2"
          type="text"
          id="location"
          name="campground[location]"
          value="<%= campground.location %>"
        />

        <label class="form-label" for="price">Price</label>
        <input
          class="form-control mb-2"
          type="number"
          id="price"
          name="campground[price]"
          value="<%= campground.price %>"
        />

        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control mb-2"
          type="test"
          id="description"
          name="campground[description]"
        ><%= campground.description %></textarea>

        <label class="form-label" for="image">Image Url</label>
        <input
          class="form-control mb-2"
          type="test"
          id="image"
          name="campground[image]"
          value="<%= campground.image %>"
        />

        <div class="d-flex justify-content-between">
          <button class="btn btn-success mb-2">Edit Campground</button>
          <a class="btn btn-primary" href="/campgrounds/">All Campgrounds</a>
        </div>
      </div>
    </form>
  </div>
</div>
