<% layout("layouts/boilerplate") %>
<h1>All Campgrounds</h1>
<a href="/campgrounds/new">Add New Campground</a>
  <% for(let campground of allCampgrounds){%>
    <div class="card my-1">
      <div class="row">
        <div class="col-md-4">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% campground.images.forEach((img, i) => { %>
                <div class="carousel-item <%= i === 0 ? 'active' : '' %> ">
                  <img src="<%= img.url %>" class="d-block w-100" alt="...">
                </div>
              <% }) %>
            </div>
            <% if(campground.images.length > 1){ %>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <% } %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="card-title"><%= campground.title %></div>
            <div class="card-text"><%=campground.location %></div>
            <div class="card-text">
              <div class="text muted"><%=campground.description %></div>
            </div>
            <a href="/campgrounds/<%= campground._id%>" class="btn btn-primary">View <%= campground.title %></a>
          </div>
        </div>
      </div>
    </div>
  <%}%>