<% layout("layouts/boilerplate") %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-4">
      <div class="card-body">
        <img src="<%= campground.image %>" alt="" />
        <h5 class="card-title"><%= campground.title %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          <%= campground.location %>
        </h6>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          <%= campground.price %>
        </h6>
        <p class="card-text"><%= campground.description %></p>
        <div class="d-flex">
          <a class="btn btn-info " href="/campgrounds/" class="card-link"
            >All Campgrounds</a>
          <a
            class="btn btn-info ms-3 "
            href="/campgrounds/edit/<%= campground.id %>"
            class="card-link"
            >Edit Campground</a>
          <form
            class="d-inline ms-3 "
            action="/campgrounds/delete/<%= campground.id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger">Delete Campground</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
